/* ページ全体のデザイン（背景と基本の文字色） */
body {
    background-color: #c9ddb8; /* ほんのり薄いグレーの背景 */
    color: #333333; /* 読みやすい濃いグレーの文字 */
}

/* 一番大きな見出し（h1）のデザイン */
h1 {
    color: #770000; /* 深みのあるえんじ色（早稲田カラーのような赤） */
}